<button *ngIf="!authenticated" mat-icon-button class="example-icon" aria-label="Login" (click)="login()">
  <mat-icon>login</mat-icon>
</button>

<button mat-button [matMenuTriggerFor]="mainMenu" *ngIf="authenticated">
  <span class="mat-button-wrapper">
    Master data
    <mat-icon>arrow_drop_down</mat-icon>
  </span>
  <span matripple="" class="mat-ripple mat-button-ripple"></span>
  <span class="mat-button-focus-overlay"></span>
</button>
<mat-menu #mainMenu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="customers">Customers</button>
  <button mat-menu-item [matMenuTriggerFor]="materials">Materials</button>
  <button mat-menu-item [matMenuTriggerFor]="processes">Processes</button>
  <button mat-menu-item [matMenuTriggerFor]="products">Products</button>
  <button mat-menu-item [matMenuTriggerFor]="rawmaterials">Raw Materials</button>
</mat-menu>

<mat-menu #customers="matMenu">
  <button mat-menu-item [routerLink]="['/masterdata/customers']">
    <mat-icon color="primary" fontSet="material-icons-outlined">view_list</mat-icon>
    <span>Manage</span>
  </button>
  <button mat-menu-item>
    <mat-icon>add</mat-icon>
    <span>Add New</span>
  </button>
</mat-menu>

<mat-menu #materials="matMenu">
  <button mat-menu-item [routerLink]="['/masterdata/materials']">
    <mat-icon color="primary" fontSet="material-icons-outlined">view_list</mat-icon>
    <span>Manage</span>
  </button>
  <button mat-menu-item>
    <mat-icon>add</mat-icon>
    <span>Add New</span>
  </button>
</mat-menu>

<mat-menu #rawmaterials="matMenu">
  <button mat-menu-item [routerLink]="['/masterdata/rawmaterials']">
    <mat-icon color="primary" fontSet="material-icons-outlined">view_list</mat-icon>
    <span>Manage</span>
  </button>
  <button mat-menu-item>
    <mat-icon>add</mat-icon>
    <span>Add New</span>
  </button>
</mat-menu>

<mat-menu #processes="matMenu">
  <button mat-menu-item [routerLink]="['/masterdata/processes']">
    <mat-icon color="primary" fontSet="material-icons-outlined">view_list</mat-icon>
    <span>Manage</span>
  </button>
  <button mat-menu-item>
    <mat-icon>add</mat-icon>
    <span>Add New</span>
  </button>
</mat-menu>

<mat-menu #products="matMenu">
  <button mat-menu-item [routerLink]="['/masterdata/products']">
    <mat-icon color="primary" fontSet="material-icons-outlined">view_list</mat-icon>
    <span>Manage</span>
  </button>
  <button mat-menu-item>
    <mat-icon>add</mat-icon>
    <span>Add New</span>
  </button>
</mat-menu>


<button mat-button [matMenuTriggerFor]="profileMenu" aria-label="Profile" class="mat-focus-indicator mat-tooltip-trigger mat-menu-trigger mat-button mat-button-base" *ngIf="authenticated">
  <span class="mat-button-wrapper">
    {{userName}}
    <mat-icon>arrow_drop_down</mat-icon>
  </span>
  <span matripple="" class="mat-ripple mat-button-ripple"></span>
  <span class="mat-button-focus-overlay"></span>
</button>
<mat-menu #profileMenu="matMenu">
  <button mat-menu-item (click)="logoutClicked($event)">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>account_circle</mat-icon>
    <span>Profile</span>
  </button>
</mat-menu>
