.component-page-header {
  display: flex;
  align-items: center;
}

h1 {
  outline: none;
  padding: 24px 8px;
  font-size: 20px;
}

.docs-primary-header {
  background: #3f51b5;
}

  .docs-primary-header h1 {
    color: #fff;
  }

  .docs-primary-header h1 {
    font-weight: 300;
    margin: 0;
    padding: 28px 8px;
    font-size: 20px;
  }

.component-page-header {
  display: flex;
  align-items: center
}

.sidenav-toggle {
  padding: 0;
  margin: 8px;
  min-width: 64px;
  display: none
}

@media (max-width: 959px) {
  .sidenav-toggle {
    display: flex;
    align-items: center;
    justify-content: center
  }
}

.sidenav-toggle mat-icon {
  font-size: 30px;
  height: 64px;
  width: 64px;
  line-height: 64px;
  color: #fff
}