<button *ngIf="!authenticated" mat-icon-button class="example-icon" aria-label="Login" (click)="login()">
  <mat-icon>login</mat-icon>
</button>

<button mat-button [matMenuTriggerFor]="profileMenu" aria-label="Profile" class="mat-focus-indicator mat-tooltip-trigger mat-menu-trigger mat-button mat-button-base" *ngIf="authenticated">
  <span class="mat-button-wrapper">
    {{userName}}
    <mat-icon>arrow_drop_down</mat-icon>
  </span>
  <span matripple="" class="mat-ripple mat-button-ripple"></span>
  <span class="mat-button-focus-overlay"></span>
</button>
<mat-menu #profileMenu="matMenu">
  <button mat-menu-item (click)="logoutClicked($event)">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
  <button mat-menu-item disabled>
    <mat-icon>account_circle</mat-icon>
    <span>Profile</span>
  </button>
</mat-menu>
